{% extends "base.html" %}

{% block htmltitle %}
Blog CRUD
{% endblock %}

{% block content %}

<script type="text/javascript" src="http://github.com/malsup/form/raw/master/jquery.form.js?v2.43"></script>

<script>
    function load_table() {
        var url = '/blog/list.json';
        $.getJSON(url, null, function(data) {
          $.each(data, function(n, row) {
            $("#post_list_table tr:last").after(
              '<tr id="post-id'+row.pk+'"><td>'+row.fields.title+'</td><td>'
                +row.fields.name+'</td><td>'
                +row.fields.content+'</td><td>'
                +'<td><a href="#" onclick="return delete_entry('+row.pk+');">Delete</a>'
                +'</tr>');
          });
        });
    }

    function delete_entry(id) {
      if( confirm("Delete Post?") ) {
        // They said yes

        var url = '/blog/delete/'+id+'.json';
        jQuery.post(url, function(data) {
            $("#post-id"+id).remove();
        });

      }
      return 0;
    }

    $(document).ready( load_table() 
    );

    function intrapage_navigate(frame) {
      //TODO: Get the name of the frame we're heading to by looking at the 
      // object that triggered the event, and pulling its href.
      // instead of passing in frame as a function parameter
      jQuery('.uiframe').addClass('hidden');
      jQuery('#'+frame).removeClass('hidden');
    }
</script>


  <div id="post_list_frame" class="uiframe">
    <h2>All Blog Posts</h2>
    <table border=2 id="post_list_table">
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Content</th>
      <td></td>
    </tr>

    </table>
    <a href="#new_entry_frame" onclick="intrapage_navigate('new_entry_frame')">New Post</a>
  </div>

  <div id="show_entry_frame" class="uiframe hidden">
    <h2> Show Post </h2>
    <p>
      <b>Title:</b>
      <span id="show_post_title"></span>
    </p>
    <p>
      <b>Name:</b>
      <span id="show_post_name"></span>
    </p>
    <p>
      <b>Content:</b>
      <span id="show_post_content"></span>
    </p>
    <a href="#edit_entry_frame" onclick="intrapage_navigate('edit_entry_frame')">Edit Post</a> |
    <a href="#post_list_frame" onclick="intrapage_navigate('post_list_frame')">List Posts</a>
  </div>

  <div id="new_entry_frame" class="uiframe hidden">
    <h2> New Post </h2>
    <form name="new_post" action="/new_post.json" method="POST">
        <p>
          <label>Title:</label><br/>
          <input id="post_title" name="post.name" size="30" type="text" /> 
        </p>
        <p>
          <label>Name:</label><br/>
          <span id="show_post_name"></span>
          <input id="post_name" name="post.name" size="30" type="text" /> 
        </p>
        <p>
          <label>Content:</label><br/>
          <textarea cols="40" id="post_content" name="post.content" rows="20"></textarea> 

        <input id="new_post_submit" name="commit" type="submit" value="Create" /> 
        </p>
    </form>
      <a href="#" onclick="return newpostform();">submit it</a>
    <script>
      $('form[name=new_post]').submit(function(){ 
        alert('hoo'); 
        $.post($(this).attr('action'), $(this).serialize(), function(json) {
          alert(json);
        }, 'json');
        return false;  // prevents the browser from posting the form itself.
      });

      function newpostform() {
        alert('ready to submit');
        //$(function(){
          //$('form[name=new_post]').submit(function(){
            //$.post($(this).attr('action'), $(this).serialize(), function(json) {
              //alert(json);
            //}, 'json');
          //});
        //});
        return false;
      }
      function bad_newpostform() {
          var options = {
            async: false,
            alert_message: "Error submitting form",
            success: function(message) {
              alert(message);
            },
            error : function(){
              alert(this.alert_message);
            }
          };
          $('#new_post').ajaxSubmit(options);

          return false;
      }


    </script>

    <a href="#post_list_frame" onclick="intrapage_navigate('post_list_frame')">List Posts</a>
  </div>


{% endblock %}
