{% extends "base.html" %}

{% block htmltitle %}
Blog CRUD
{% endblock %}

{% block content %}

<script>
    var DEBUG_MODE = true;
    var HOMEPAGE_FRAGMENT = "#list"
</script>

{% include "bzt_core.html" %}

<script>
    /////////////////////////////////////
    // App logic
    /////////////////////////////////////
    function delete_entry(id) {
      if( confirm("Delete Post?") ) {
        // They said yes

        var url = '/blog/delete/'+id+'.json';
        $.ajax({
          type: "POST",
          url: url,
          error: debug_error,
          success: function(data) {
            $("#post-id"+id).remove();
          }
        });

      }
      return false; // cancel's browser navigation
    }
</script>



  <div id="frame_list" class="uiframe">
    <h2>All Blog Posts</h2>
    <table border=2 id="post_list_table">
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Content</th>
      <td></td>
    </tr>
    <tbody id="list_tbody">
    </tbody>

    </table>
    <a href="#new">New Post</a>
  <script>
    // loads the list of all Post objects for display in the list frame.
    function load_table(post_load) {
        $('#list_tbody').html('');
        $.ajax({
          type: "GET",
          url: '/blog/list.json',
          dataType: 'json',
          error: debug_error,
          success: function(data) {
              $.each(data, function(n, row) {
                $("#list_tbody").append(
                  '<tr id="post-id'+row.pk+'"><td>'+row.fields.title+'</td><td>'
                    +row.fields.name+'</td><td>'
                    +row.fields.content+'</td><td>'
                    +'<a href="#show/'+row.pk+'" >Show</a> | '
                    +'<a href="#edit/'+row.pk+'" >Edit</a> | '
                    +'<a href="#" onclick="return delete_entry('+row.pk+');">Delete</a>'
                    +'</td></tr>');
              });
              post_load();
          }
        });
    }

    frame_load_methods['list']=function(path, post_load) {
      load_table(post_load);
    };
  </script>
  </div>



  <div id="frame_show" class="uiframe hidden">
    <h2> Show Post </h2>
    <p>
      <b>Title:</b>
      <span id="show_post_title"></span>
    </p>
    <p>
      <b>Name:</b>
      <span id="show_post_name"></span>
    </p>
    <p>
      <b>Content:</b>
      <span id="show_post_content"></span>
    </p>
    <a id="edit_link" href="#edit/" >Edit Post</a> |
    <a href="#list" >List Posts</a>
    <script>
       frame_load_methods['show']=function(path, post_load) {
         id = path.substring(1);
         var url = '/blog/show/'+id+'.json';
         $.ajax({
           type: "GET",
           url: url,
           error: debug_error,
           success: function(data) {
             obj = data[0];
             $('#show_post_title').html(obj.fields.title);
             $('#show_post_name').html(obj.fields.name);
             $('#show_post_content').html(obj.fields.content);
             $('#edit_link').attr('href','#edit/' + obj.pk);

             post_load();
           },
           dataType: 'json'
         });
       };
    </script>
  </div>



  <div id="frame_new" class="uiframe hidden">
    <h2> New Post </h2>
    <form name="new_post" action="create.json" method="POST">
        <p>
          <label>Title:</label><br/>
          <input id="post_title" name="post.title" size="30" type="text" /> 
        </p>
        <p>
          <label>Name:</label><br/>
          <span id="show_post_name"></span>
          <input id="post_name" name="post.name" size="30" type="text" /> 
        </p>
        <p>
          <label>Content:</label><br/>
          <textarea cols="40" id="post_content" name="post.content" rows="20"></textarea> 
        </p>

        <input id="new_post_submit" name="commit" type="submit" value="Create" /> 
    </form>
    <script>
      $('form[name=new_post]').submit(function(){ 
        $.ajax({
          type: "POST",
          url: $(this).attr('action'), 
          data: $(this).serialize(), 
          error: debug_error,
          success: function(jsonData) {
            intrapage_navigate('show/'+jsonData[0].pk);
          }, 
          dataType: 'json'
        });
        return false;  // prevents the browser from posting the form itself.
      });
    </script>
    <a href="#list" >List Posts</a>
  </div>




  <div id="frame_edit" class="uiframe hidden">
    <h2> Edit Post </h2>
    <form name="edit_post" action="edit.json" method="POST">
        <input id="post_id" name="post.id" type="hidden" />
        <p>
          <label>Title:</label><br/>
          <input id="post_title" name="post.title" size="30" type="text" /> 
        </p>
        <p>
          <label>Name:</label><br/>
          <input id="post_name" name="post.name" size="30" type="text" /> 
        </p>
        <p>
          <label>Content:</label><br/>
          <textarea cols="40" id="post_content" name="post.content" rows="20"></textarea> 
        </p>

        <input id="edit_post_submit" name="commit" type="submit" value="Update" /> 
    </form>
    <script>
      frame_load_methods['edit']=function(path, post_load) {
         id = path.substring(1);
         var url = '/blog/show/'+id+'.json';
         $.ajax({
           type: "GET",
           url: url,
           error: debug_error,
           success: function(data) {
             obj = data[0];
             $('[name=post.title]').val(obj.fields.title);
             $('[name=post.name]').val(obj.fields.name);
             $('[name=post.content]').val(obj.fields.content);
             $('[name=post.id]').val(obj.pk);

             post_load();
           },
           dataType: 'json'
         });
      };
      $('form[name=edit_post]').submit(function(){ 
        $.ajax({
          type: "POST",
          url: $(this).attr('action'), 
          data: $(this).serialize(), 
          error: debug_error,
          success: function(jsonData) {
            intrapage_navigate('show/'+jsonData[0].pk);
          }, 
          dataType: 'json'
        });
        return false;  // prevents the browser from posting the form itself.
      });
    </script>
    <a href="#list" >List Posts</a>
  </div>




  <div id="debugResults">
  </div>

{% endblock %}
