<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width = 320" /> <!-- for iphone --> 
<title>{% block htmltitle %}Bamboo Zipties App{% endblock %}</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"></script>
    <style type="text/css">
    .uiframe {
        margin: 10px;
        padding: 15px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .hidden {
        //color: #aaa;
        //background: #666;
        display: none;
    }

    </style>
{% block extrahead %}
{% endblock %}
</head>
<body id="bodytag">

{% block content %}
{% endblock %}

</body>
</html>
