<div id="frame_edit" class="uiframe hidden">
  <h2> Edit Post </h2>
  <form name="edit_post" action="edit.json" method="POST">
      <input id="post_id" name="post.id" type="hidden" />
      <p>
        <label>Title:</label><br/>
        <input id="post_title" name="post.title" size="30" type="text" /> 
      </p>
      <p>
        <label>Name:</label><br/>
        <input id="post_name" name="post.name" size="30" type="text" /> 
      </p>
      <p>
        <label>Content:</label><br/>
        <textarea cols="40" id="post_content" name="post.content" rows="20"></textarea> 
      </p>

      <input id="edit_post_submit" name="commit" type="submit" value="Update" /> 
  </form>
  <script>
    frame_load_methods['edit']=function(path, post_load) {
       id = path.substring(1);
       var url = '/blog/show/'+id+'.json';
       $.ajax({
         type: "GET",
         url: url,
         error: debug_error,
         success: function(data) {
           obj = data[0];
           $('[name=post.title]').val(obj.fields.title);
           $('[name=post.name]').val(obj.fields.name);
           $('[name=post.content]').val(obj.fields.content);
           $('[name=post.id]').val(obj.pk);

           post_load();
         },
         dataType: 'json'
       });
    };
    $('form[name=edit_post]').submit(function(){ 
      $.ajax({
        type: "POST",
        url: $(this).attr('action'), 
        data: $(this).serialize(), 
        error: debug_error,
        success: function(jsonData) {
          intrapage_navigate('show/'+jsonData[0].pk);
        }, 
        dataType: 'json'
      });
      return false;  // prevents the browser from posting the form itself.
    });
  </script>
  <a href="#list" >List Posts</a>
</div>

